[2021-08-17 19:05] blag commented on #84
One thing that would really help the release process is some Selenium or whatever tests for the frontend.

Our testing is pretty comprehensive, especially our end-to-end tests. But our end-user testing, especially just basic frontend functionality (logging in, logging out, logging in again, executing an action, viewing the results in the executions tab, switching to the rules tab, switching to the

[2021-08-24 19:34] guzzijones opened #86 "st2actionrunner graceful shutdown"
This ticket will hold research into graceful shutdown of st2actionrunner.  This is in anticipation of adding a way through OS or otherwise to allow us to scale st2actionrunners based on some factor.

My initial research led me to this section of code where the st2actionrunner takes ownership of a scheduled action:
[st2actionrunner takes ownership](https://github.com/StackStorm/st2/blob/76feb92ac8e

[2021-08-24 19:50] guzzijones commented on #86
Another possiblity is for the autoscaler system to query if the st2actionrunner being shutdown has taken ownership of any jobs.  If so wait until it no longer has ownership.

[2021-08-24 19:57] nzlosh commented on #86
What is an autoscaler in this context?

[2021-08-24 20:03] guzzijones commented on #86
aws dynamic autoscaling policy

[2021-08-24 22:04] arm4b commented on #86
Do we need some kind of way to mark the specific st2actionrunner as "unschedulable"?
Otherwise, in a heavily used st2 dynamic environments it'll pick up the next task from the queue once the previous one is finished.

Talking about the mechanisms.
Maybe sending the SIGTERM signal (or other signal) to st2actionrunner process so it'll stop picking up new jobs and finish an old one?
Or do we need som

[2021-08-25 14:17] guzzijones commented on #86
It looks like a SIGTERM is all that is needed.  Then the st2actionrunner will pop the message back for scheduling and die.  The only problem is AWS Dynamic Scaling will immediatly kill the VM unless you use the boto3.record_livecycle_action_heartbeat to tell AWS to wait while it is still shutting down the process.  I see this as a python script that would be supplemental and specific to AWS autosc

[2021-08-25 14:28] arm4b commented on #86
Yeah, right.
Higher level orchestrator/logic should give some time (like `terminationGracePeriodSeconds`) for st2actionrunner to finish its work after sending the signal.

In the context of K8s, when the pod is terminated it goes through the following lifecycle:

* Pod is set to the “Terminating” State and removed from the endpoints list of all Services
* A SIGTERM signal is sent to the main proce

[2021-09-06 20:47] arm4b opened #87 "TSC Meeting (07 Sep 2021): v3.6.0 Roadmap Progress, Maintenance & Expenses, Partnerships"
September 2021 @StackStorm/tsc `1 hour` planned meeting: Tuesday, `07 Sept 2021, 09:30 AM US Pacific`.
See #33 for more info about how to join.

#### TSC Meeting Host: @blag

## Meeting Agenda

- Congrats @cognifloyd @guzzijones @nzlosh and @amanda11 with their new @StackStorm/tsc roles!
- StackStorm `v3.6.0` Roadmap Progress
  - Release Manager: @winem, Release Assistant: @guzzijones (based on [r

[2021-09-07 17:14] amanda11 opened #88 "CentOS 8 EOL end 2021"
As CentOS 8 reaches EOL at Dec 2021, with RH supporting CentOS 8 Stream afterwards, this discussion covers the changes required.
Discussed in Sept 2021 TSC meeting. Will use CentOS 8 for CI for 3.6, and move to RockyLinux or AlmaLinux during the 3.6 lifetime.

Plan:
- [X] Agree RockyLinux or AlmaLinx or Oracle Linux (Oct TSC meeting - agreed to target RockyLinux unless encounter issues)
- [x] st2c

[2021-09-12 16:36] winem opened #89 "Migrate forum.stackstorm.com to GitHub Discussions"
We decided to migrate forum.stackstorm.com to GitHub Discussions at https://github.com/StackStorm/st2/discussions

@armab already set the forum to read-only, archived it and added a banner on top of the page to inform users. Thank you!

ToDos and things to discuss:
- [x]  Organize categories & labels
- [x]  Manage and moderate questions & discussions
  - [x]  Everyone from the TSC is welcome to mo

[2021-09-12 16:43] winem commented on #89
Those categories and tags/labels were migrated that seem to be useful right now. List of categories and labels may grow in the future but we decided to start with a short and clear one and extend it if needed.

[2021-09-15 14:44] rush-skills commented on #70
We can mark puppet-st2 as complete and close this one too

[2021-09-15 16:51] arm4b commented on #70
That's really nice!

Thanks @rush-skills for the follow-up :+1:

[2021-09-15 16:51] #70 closed, assigned to nobody

[2021-09-15 17:07] rush-skills commented on #69
Can update puppet-st2 work completed in this issue too :)

[2021-09-15 17:09] rush-skills commented on #68
Currently, we don't run integration tests against python3.8 in puppet modules. Is this required? @amanda11 @nmaludy

[2021-09-19 19:22] winem commented on #89
I'm currently testing the process and downloading the forum with wget and will  try to create GitHub pages on a private repo first. I'll have limited internet access until friday evening, so I'm not sure how far I'll get but I'll keep you posted.

[2021-09-19 19:59] arm4b commented on #89
Let's use https://github.com/StackStorm/forum.stackstorm.com as a repository.
Feel free to push to the `main` branch to experiment with it.
Static HTML version for this repo is available at https://stackstorm.github.io/forum.stackstorm.com/

[2021-10-01 14:08] arm4b opened #90 "TSC Meeting (05 Oct 2021): v3.6.0 Release Prep, Maintenance & Expenses"
October 2021 @StackStorm/tsc `1 hour` planned meeting: Tuesday, `05 Oct 2021, 09:30 AM US Pacific`.
See #33 for more info about how to join.

#### TSC Meeting Host: @armab

## Meeting Agenda

- StackStorm `v3.6.0` Preparation
  - Release Manager: @winem, Release Assistant: @guzzijones (per [release rotation](https://github.com/StackStorm/discussions/wiki/Release-Management-Rotation)).
  - [Roadmap

[2021-10-05 15:49] cognifloyd commented on #90
I would also like to discuss action `output_schema` because I think we need some breaking changes to clean up the feature.

[2021-10-05 16:40] #69 closed, assigned to nobody

[2021-10-05 18:03] amanda11 opened #91 "Upgrade RabbitMQ"
On EL8 distributions we use the latest RabbitMQ and Erlang from the rabbitMQ repos, but for all other distributions we use what is bundled with the O/S. Update all installations to use latest RabbitMQ.

Changes required for 3.6 release:
- [x] st2-packages - bash installer
- [x] st2docs
  - [x] installation and upgrade changes
- [x] st2ci/cd - don't think necessary as in docs said was optional

 Ch

[2021-10-11 19:47] arm4b commented on #65
Implemented in https://github.com/StackStorm/st2/pull/4846/

[2021-10-11 19:47] #65 closed, assigned to nobody

[2021-10-13 12:46] arm4b commented on #68
It looks we're all set here with adding py3.8 for Ubuntu20.

[2021-10-13 12:46] #68 closed, assigned to nobody

[2021-10-22 21:07] arm4b commented on #89
The static HTML archive of the forum we wanted to keep for SEO was created and is now available at https://github.com/StackStorm/forum.stackstorm.com

[2021-10-29 18:16] arm4b commented on #63
Looking back, following the Security discussions https://github.com/StackStorm/private-discussions/issues/5 SSH access to CI system for Exchange Packs looks like a downside/risk these days.
Nowadays GH Actions stabilized and gained its trusted reputation as a de-facto CI standard in Github that works flawlessly.

+1 for migration from CircleCI to GH Actions for a native & seamless integration to f

[2021-10-29 20:19] arm4b opened #92 "TSC Meeting (02 Nov 2021): Finalizing v3.6.0, Maintenance, Security Brainstorming"
November 2021 @StackStorm/tsc `1 hour` planned meeting: Tuesday, `02 Nov 2021, 09:30 AM US Pacific`.
See #33 for more info about how to join.

#### TSC Meeting Hosts: @m4dcoder & @amanda11

## Meeting Agenda

### Finalizing StackStorm `v3.6.0`
  - Project: https://github.com/orgs/StackStorm/projects/22
  - Roadmap: https://github.com/StackStorm/st2/milestone/44
  - Release Manager: @winem, Release

[2021-10-30 17:33] cognifloyd commented on #63
I no longer believe a shared CircleCI + GHA is a possibility because so much of the exchange infra is broken with CircleCI changes that force using an ssh deploy key. That in turn breaks our deploy workflow because it conflicts with how we're using the PAT to clone and modify repos in CircleCI.

This is an overview what I think we need to do to move the current CI to GHA. Some of my other comments

[2021-10-30 19:55] punkrokk opened #93 "Locked out of slack"
I am locked out of slack. I did not get a notice of the exact date gmail accounts would be disabled, and I disagreed and offered to pay for mine. Please re-enable my account so I can get my slack profile back.

[2021-10-30 20:32] arm4b commented on #93
The email address is valid as before, it's just configured to be a forwarder which you confirmed worked yesterday by [replying](https://user-images.githubusercontent.com/1533818/139557861-ff1104c7-43fc-4d74-b0df-3b7801d3ed06.png) to a message that was sent to your stackstorm email.
You can reset the password in Slack and get a reset link to the original email.
As for timing, we had almost 2 months

[2021-10-30 20:39] arm4b commented on #93
**UPDATE**: Looks like you figured it out, seeing your later message in Slack.

[2021-11-01 11:50] arm4b commented on #63
Good stuff. Nice idea with the GH composite actions, similar to CircleCI orbs :+1:
And yeah, there should be a basic way for pack maintainers to do something outside of the default CI pipeline.

Perhaps having a new PoC stackstorm-exchange pack would be a good way to experiment with all the machinery & show it.

[2021-11-02 07:38] arm4b commented on #92
A quick report from my side since the previous TSC Meeting:

- PackageCloud partnership
  - Blog, Communication, Negotiation.
  - We're confirmed on 500GB traffic/200GB storage FOSS plan.
  - Announcement: https://stackstorm.com/2021/10/11/stackstorm-welcomes-packagecloud-as-a-partner/
  - https://twitter.com/StackStorm/status/1447568669421211650
  - https://stackstorm.com/partners/
- forum.stacks

[2021-11-09 14:11] arm4b commented on #89
Switched `CNAME` to GH static pages.
forum.stackstorm.com is now officially based on static HTML archive and Discourse subscription is canceled.

[2021-11-09 14:11] arm4b commented on #75
Superseded by the https://github.com/StackStorm/discussions/issues/89 plan.

[2021-11-09 14:11] #75 closed, assigned to nobody

[2021-11-12 04:55] cognifloyd commented on #63
OK I stubbed together some composite actions. They will not work yet, but hopefully they're a good starting point.
https://github.com/StackStorm-Exchange/ci/tree/gha/gha

To use these, I imagine a workflow that looks something like this:
[code]

We will still need to manage the cron schedule in each pack repo.
In circle, each of the job steps were shell scripts that were painful to update. Using t

[2021-11-12 16:22] cognifloyd commented on #63
For the deploy workflow, we have a variety of problems:
- serializing index updates via distributed workflows is problematic
- credentials for cross-repo changes are hard to manage
  - Github App and Oauth App both require some kind of persistent service
  - PATs are far too course:
    - they are user-specific
    - if you've got `repo` access, then that gives you access to all repos that user ca

[2021-11-12 16:24] cognifloyd commented on #63
OK. I've spent a lot of time figuring this out. I don't know when I'll have time to pick it up again. If someone else can please pick this up and work on any of these pieces, I would appreciate the help.

[2021-11-13 20:25] cognifloyd commented on #76
https://github.com/StackStorm/stackstorm.com -> https://stackstorm.github.io/stackstorm.com/

I added a gha workflow that regenerates with hugo and deploys automatically to the gh-pages branch on push.
I added a random hugo theme.
I moved stuff around to be in the expected hugo dirs.

Most of the pages still aren't building with hugo. Maybe they were generated for a different version of hugo than

[2021-11-24 17:28] jacksona2-git opened #94 "stuck job that I can't kill"
I have a dangling jobs that is stuck and I can't kill.

st2 execution cancel 619c2f7a2706d3133e2b6a0f
ERROR: 500 Server Error: Internal Server Error
MESSAGE: Execution object missing link to liveaction 619c2f7a2706d3133e2b6a0e. for url: http://127.0.0.1:9101/v1/executions/619c2f7a2706d3133e2b6a0f

It shows it still running but also has and end timestamp

| id                       | action.ref

[2021-11-25 20:44] arm4b commented on #76
Nice! Thanks a lot, @cognifloyd, very helpful! :+1:

We'll need to adjust the theme, design, and pages next to make sure everything together looks exactly as old stackstorm.com, incl. page structure and URLs.

[2021-11-25 21:30] arm4b commented on #63
* I like the way how the pack CI logic would be hidden via abstraction behind the GHA composite actions in the https://github.com/StackStorm/discussions/issues/63#issuecomment-966820410. The example is nice! :+1:

* I don't think long-running always-polling CI is a good idea. Hard to manage, hard to debug, the logic would be surprising (bad) and it's not what GHA was designed for. Also, it's easy

[2021-11-26 21:47] cognifloyd commented on #63
Thank you @lm-ydubler for helping to test/fix the build_and_test workflow. The `gha` branch now has a complete and functional `build_and_test` workflow.

For most packs, the workflow will consist of this (see https://github.com/StackStorm-Exchange/stackstorm-test/blob/gha/.github/workflows/build_and_test.yaml):
[code]

This uses github's newly [GA reusable workflows](https://github.blog/changelog/

[2021-11-26 21:58] cognifloyd commented on #63
You can see a successful test run here: https://github.com/StackStorm-Exchange/stackstorm-test/actions/runs/1509040299

[2021-11-28 06:32] cognifloyd commented on #63
If we're running a frequent cron job to rebuild the index, every 5 minutes is probably too often as this involves cloning all pack repos. In my tests, it took 2-2.5 min just to clone all pack repos.

To test, I forked the index and made the gha branch the default branch. In the gha branch there is a simple workflow (triggered manually with workflow_dispatch) that reuses a workflow in the gha branc

[2021-11-28 06:35] cognifloyd commented on #63
To clarify why we would need to set a cron job to run less than every 5 minutes, we need to ensure that pack updates are serialized (no parallel or concurrent edits).

[2021-12-03 18:29] arm4b opened #95 "TSC Meeting (07 Dec 2021): New Contributors, v3.6.0 Recap, v3.7.0 Planning, EOY"
December 2021 @StackStorm/tsc `1 hour` planned meeting: Tuesday, `07 Dec 2021, 09:30 AM US Pacific`.
See #33 for more info about how to join.

#### TSC Meeting Host: @armab

## Meeting Agenda

### New Contributors
* @rush-skills https://github.com/StackStorm/st2/pull/5449
* @khushboobhatia01 https://github.com/StackStorm/st2/pull/5450
* @xod442 https://github.com/StackStorm/st2/pull/5452

### Idea

[2021-12-03 22:44] cognifloyd commented on #8
OK. Here is my initial plan for integrating OpsDroid and StackStorm. I put it in google docs and opened it up so anyone can comment on the doc. Feedback welcome!

https://docs.google.com/document/d/1ycV05-sUwd0Q27ZVjPQAq5nLuUJM_gzaBWOynwdXDJ8/edit?usp=sharing

[2021-12-06 20:00] cognifloyd commented on #63
OK. I think using cron is more of a possibility than I thought because github has `concurrency` primitives now to allow us to serialize a workflow. If workflows are consistently waiting for earlier workflows, then that means we need to either optimize something in the workflow to make it take less time, or increase the time between scheduled runs.
https://github.blog/changelog/2021-04-19-github-ac

[2021-12-07 16:33] cognifloyd commented on #63
I'm satisfied that the index update workflow does what it needs to. We'll just need to define a cron schedule before we merge it to master on the index repo.

Now, the final step: We need a process that creates tags on the pack repos. By process I mean, the steps someone needs to take when they want to cut a new release of a pack PLUS the Github Actions workflow(s) required to support those steps.

[2021-12-07 16:45] cognifloyd commented on #63
Here are 2 possible workflows we could use:

### a release workflow inspired by OpsDroid's process

I recently released a new version of OpsDroid, and I really liked their release workflow. Maybe we could do something similar for packs.
Here is what their process looks like:

1. Every time a PR gets merged to master (ie on every push to master), update a draft release on github: https://github.com

[2021-12-07 20:40] arm4b commented on #91
@rush-skills Just created an issue for puppet-st2, https://github.com/StackStorm/puppet-st2/issues/340 if you'd like to take a look at updating RabbitMQ for https://github.com/StackStorm/puppet-st2/.

[2021-12-07 21:10] arm4b commented on #95
## Participants
Attendees:
  - @StackStorm/maintainers: @armab @amanda11 @m4dcoder @winem @cognifloyd @nzlosh @guzzijones
  - @StackStorm/contributors: @arms11 @rush-skills

## Meeting Minutes

### New Contributors
- Thanks, @rush-skills, @khushboobhatia01, @xod442  for their contributions, and welcome to the Community!
- @rush-skills introduced himself and highlighted the automation he does at @C

[2021-12-08 22:36] arm4b commented on #63
For Exchange, the fact that the contributor just bumps the version in pack meta and a new git tag is automatically created helped us a lot in the maintenance.
Drafting Releases manually for every pack would be a step back for the Exchange and add friction, as well as another point of failure (relying on humans) to the workflow.

So yeah, automation with auto-tagging would be ideal, as before.

[2021-12-09 09:50] amanda11 commented on #63
Doing that tagging on merge to master would be really good, and better than we had before. As I think it wasn't well known that essentially you shouldn't bump the pack version until you'd had an all clear on the review, and then need to do one more change to update the pack version - to prevent the tag being done on the wrong commit.

[2021-12-09 19:19] cognifloyd commented on #63
OK. This is ready for more eyes. Thanks go to @ym-dubler for helping to test, invalidate a bunch of my assumptions, and push this forward! And thanks to LogicMonitor for dedicating resources to this issue!

We need to merge changes across multiple repos in this order:

1. https://github.com/StackStorm-Exchange/exchange-tools/pull/2
2. https://github.com/StackStorm-Exchange/ci/pull/121
    - it wil

[2021-12-09 20:35] cognifloyd commented on #63
So, just to clarify: the tag release workflow adds the tag on push to master (or whatever is the default branch) if the latest tag doesn't match the current version in pack.yaml.

[2021-12-09 20:40] lm-ydubler commented on #63
Happy to have helped and glad to have worked with you for a solution.

[2021-12-17 21:41] cognifloyd commented on #63
@winem @lm-ydubler and I just had a meeting, we talked about doing this to roll the GHA updates out:

0. @winem approves PRs
1. Merge https://github.com/StackStorm-Exchange/ci/pull/121
2. Merge https://github.com/StackStorm-Exchange/index/pull/24
3. Update all pack repos:

    1. copy gha workflow files to each pack repo: https://github.com/StackStorm-Exchange/stackstorm-test/tree/aaa/.github/work

[2021-12-29 17:16] arm4b opened #96 "TSC Meeting (04 Jan 2022): New StackStorm-Exchange, v3.7.0 Planning"
January 2022 @StackStorm/tsc `1 hour` planned meeting: Tuesday, `04 Jan 2022, 09:30 AM US Pacific`.
See #33 for more info about how to join.

#### TSC Meeting Host: @armab

## Meeting Agenda

### New StackStorm-Exchange demo by @cognifloyd
- StackStorm-Exchange CI was refactored by migrating from CircleCI to GH Actions https://github.com/StackStorm/community/issues/63
- Led by @cognifloyd, he'll s

[2021-12-29 18:11] cognifloyd commented on #63
Should we add the gha workflows to https://github.com/StackStorm-Exchange/exchange-template ?

[2021-12-29 18:23] arm4b commented on #63
It doesn't contain any CI workflows, so probably good as is without adding another dependency to the repo.

[2021-12-29 18:54] cognifloyd commented on #63
OK. afaict, we have excised CircleCI from packs on the exchange.
The zabbix pack still has some custom integration test jobs that run on CircleCI in addition to our standard GHA-based tests.

Can a senior maintainer (an org admin) please:
1. delete the PATs (and other env vars) from CircleCI for each of the pack repos
2. hit "Follow All" on the [StackStorm-Exchange CircleCI Dashboard](https://app.

[2021-12-29 21:04] cognifloyd commented on #63
I created some skeleton workflows to show the outline of GHA workflows to bootstrap a pack repo and add maintainers to it.

https://github.com/StackStorm-Exchange/exchange-incubator/pull/172

If you have some time, please pick one or more of the tasks in those workflows and implement them. It's on the `gha` branch of the exchange-incubator, so anyone on the TSC can push to that branch.

[2021-12-30 19:39] cognifloyd commented on #63
I would like to use that repo as a template repo to bootstrap new pack repos.
https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-template-repository
This would simplify maintenance for the misc things we find that need to go in new packs as mentioned in https://github.com/StackStorm-Exchange/exchange-incubator/issues/152#issuecomment-667198577 and https://gith

[2022-01-04 18:45] amanda11 commented on #88
Discussed in October TSC Meeting. Suggestion to try and build on Rocky Linux, and then to test built RPMs from RockyLinux on at least RockyLinux and RHEL 8 ( ideally on AlmaLinux and OracleLinux), to test whether RPMs built on RockyLinux will be compabile, or any issues found.

[2022-01-04 18:52] amanda11 commented on #88
Given that the st2packaging-dockerfiles I don't believe are version based, then we might need to keep the centos8 Dockerfile for the moment https://github.com/StackStorm/st2packaging-dockerfiles/tree/master/packagingbuild.

For investigation we might need to do a PR on st2packaging-dockerfiles to generate the RockyLinux containers for build and test, and perform a manual build of the unstable RPM.

[2022-01-04 21:24] arm4b commented on #96
## Participants
Attendees:
  - @StackStorm/maintainers: @armab @amanda11 @m4dcoder @winem @cognifloyd @nzlosh
  - @StackStorm/contributors: @arms11 @rush-skills & more new community folks
  - Thanks everyone for joining!

## Meeting Minutes

### Demo: StackStorm-Exchange refactoring by @cognifloyd
- Original RFC Discussion: https://github.com/StackStorm/community/issues/63
- @cognifloyd did a demo

[2022-01-22 13:17] amanda11 commented on #88
Any preferences for ansible-st2. Do we move to rockylinux8 for both the stable 3.6.0 and unstable 3.7.0 builds, or continue to use CentOS8 for the stable builds and rockylinux for unstable builds? I'm thinking perhaps move both over.

[2022-01-22 21:34] winem commented on #88
I'd also prefer to move both to Rocky Linux.

[2022-01-23 20:07] cognifloyd commented on #88
Yeah. CentOS 8 is dead. It's almost more important to get stable using Rocky Linux than it is to get unstable using it because it is dead dead. Let's move both.

[2022-01-25 17:25] arm4b opened #97 "TSC Meeting (01 Feb 2022): New pack content overrides, AWS, v3.7.0 progress"
February 2022 @StackStorm/tsc `1 hour` planned meeting: Tuesday, `01 Feb 2022, 09:30 AM US Pacific`.

See #33 for more info about how to join.
(TLDR; Zoom link: https://us02web.zoom.us/j/81082101702?pwd=N1V4TWdYRVQ4SXBsaFh1TFYvVDA0UT09)

#### TSC Meeting Host: @armab

## Meeting Agenda

### DEMO: New Pack content loading by @amanda11  (15min)
- https://github.com/StackStorm/st2/pull/5506
- Amanda

[2022-02-01 20:22] arm4b commented on #97
## Participants
Attendees:
  - @StackStorm/maintainers: @m4dcoder @winem @cognifloyd  @armab @guzzijones @amanda11 + Partners: @punkrokk (BlueCycle), @mickmcgrath13 (Bitovi), @bishopbm1 (Encore)

## Meeting Minutes

### DEMO: New Pack content loading blacklist/whitelist `/opt/stackstorm/overrides/` feature by @amanda11
- PR & Discussion: https://github.com/StackStorm/st2/pull/5506
 - @amanda11's n

[2022-02-17 17:34] arm4b commented on #97
New information from [Slack Discussion](https://stackstorm-community.slack.com/archives/C020U70RZRR/p1645044415877409?thread_ts=1643826199.887169&cid=C020U70RZRR) that AWS FOSS credits expiry date is `31 July 2022`, not `31 March 2022`.

![image](https://user-images.githubusercontent.com/1533818/154538069-c085c76a-b318-403e-bc2a-562e7891a6b0.png)

[2022-02-25 17:59] arm4b opened #98 "TSC Meeting (01 Mar 2022): AWS follow-up, v3.7.0 preparation"
March 2022 @StackStorm/tsc `1 hour` planned meeting: Tuesday, `01 Mar 2022, 09:30 AM US Pacific`.

See #33 for more info about how to join.
(TLDR; Zoom link: https://us02web.zoom.us/j/81082101702?pwd=N1V4TWdYRVQ4SXBsaFh1TFYvVDA0UT09)

#### Meeting host: @nzlosh

## Meeting Agenda

### StackStorm AWS account follow-up ~(20min)
  - See previous meeting for the issue description and more context: htt

[2022-03-01 15:19] rush-skills commented on #91
@armab You can close this one now, the changes are merged

[2022-03-01 19:58] arm4b commented on #98
Some follow-up and stats from the AWS discussion today.

AWS Reducing costs project: https://github.com/orgs/StackStorm/projects/27

AWS monthly running costs for the latest `3mo`: `Dec '21`, `Jan '22`, `Feb '22`:
![image](https://user-images.githubusercontent.com/1533818/156238654-ed88ab82-640b-4d8f-9d98-b50a44148cda.png)

AWS daily costs for the `Februrary '22` (avg ~`$21/day`):
![image](https:/

[2022-03-01 21:30] nzlosh commented on #98
## Meeting minutes for TSC Meeting (01 Mar 2022): AWS follow-up, v3.7.0 preparation
### Attendees:

- Bradley Bishop
- Ankur Signh
- Eugen Cusmaunsa
- Jacob Floyd
- Amanda (amanda11)
- Carlos (nzlosh)
- AJ (guzzijones)
- Saurav Kumar

### AWS account ownership

Bradley Bishop of Encore Technology has talked internal about taking ownership of the StackStorm AWS Account (child) under the Encore Tech

[2022-03-02 03:06] #91 closed, assigned to nobody

[2022-03-03 18:00] arm4b commented on #91
Thanks everyone :+1:

The inconsistent RabbitMQ version shipped by default with the various distros was a bit of a security issue reported before by our users and so this definitely makes the project more secure.

[2022-03-30 19:39] arm4b opened #99 "TSC Meeting (05 Apr 2022): Scalyr Monitoring, AWS cost reduction, v3.7.0 release"
April 2022 @StackStorm/tsc `1 hour` planned meeting: Tuesday, `05 Apr 2022, 09:30 AM US Pacific`.

See #33 for more info on how to join.
(TLDR; Zoom link: https://us02web.zoom.us/j/81082101702?pwd=N1V4TWdYRVQ4SXBsaFh1TFYvVDA0UT09)

#### Meeting host: @cognifloyd

## Meeting Agenda

### Demo: migration to Scalyr monitoring for internal st2cicd infra by @Kami ~(10min)
  - See: https://github.com/Sta

[2022-04-05 16:48] mickmcgrath13 commented on #4
2 things that come to mind to resolve with this are:

1. Ensure there is an up-to-date list of TSC members who are candidates for rotation so that at the end of one TSC meeting, we can look at the list and call out who's next.  To @nmaludy's point above, perhaps we could have some tooling around this to remind folks who are scheduled for rotation (maybe an action/workflow in the same pack that not

[2022-04-05 18:18] cognifloyd commented on #99
## Meeting notes

### Demo: migration to Scalyr monitoring for internal st2cicd infra by @Kami

Skipped. @Kami was unable to attend.

### [TSC Meeting host rotation](https://github.com/StackStorm/community/issues/4)

- Generally agreed: Rotate Meeting Host
- As this is monthly, TSC maintainers would be hosting the meeting about twice per year.
- We need to create the meeting host rotation. Please

[2022-04-05 20:43] arm4b commented on #99
Meeting attendees for the record.

TSC Meeting Host:
- @cognifloyd

@StackStorm/maintainers & @StackStorm/contributors:
- @amanda11 @armab @nzlosh @guzzijones @mickmcgrath13 @bishopbm1 @rush-skills @khushboobhatia01

[2022-04-06 12:33] arm4b commented on #4
This could be an example [WIKI: Release Management Rotation](https://github.com/StackStorm/community/wiki/Release-Management-Rotation) that's been maintained for the past 2 years with the release owners.

From that perspective, usually Release Managers are decided on fly during the meetings or in #tsc Slack as we discuss the ongoing plans and projects, depending on people's motivation and availabi

[2022-04-07 18:07] cognifloyd commented on #29
We have moved Exchange CI to GHA away from CircleCI, so I think we can close this.

[2022-04-07 19:34] arm4b commented on #29
Good call, agreed :100:

[2022-04-07 19:34] #29 closed

[2022-04-07 19:35] #93 closed, assigned to Kami, arm4b, m4dcoder, nmaludy, amanda11

[2022-04-07 19:37] arm4b commented on #59
Was implemented via https://github.com/StackStorm/community/issues/72 with the https://stackstorm.com/partners/ as result.
Closing.

[2022-04-07 19:37] #59 closed, assigned to nobody

[2022-04-07 19:38] arm4b commented on #54
Closing as looks like the plan was implemented.
Huge work here BTW! :100:

[2022-04-07 19:38] #54 closed, assigned to amanda11

[2022-04-07 19:54] #6 closed

[2022-04-07 19:54] #52 closed, assigned to Kami, blag, mickmcgrath13, punkrokk, arm4b, m4dcoder, nmaludy, amanda11

[2022-04-07 19:54] #81 closed, assigned to nobody

[2022-04-07 20:09] cognifloyd commented on #26
This is no longer needed now that we've switched the Exchange from CircleCI to Github Actions.

[2022-04-07 20:09] #26 closed

[2022-04-27 20:24] winem opened #100 "TSC Meeting (03 May 2022): self-check in GH Actions, AWS cost reduction follow-up, v3.7.0 release"
May 2022 @StackStorm/tsc `1 hour` planned meeting: Tuesday, `03 May 2022, 09:30 AM US Pacific`.

See #33 for more info on how to join.
(TLDR; Zoom link: https://us02web.zoom.us/j/81082101702?pwd=N1V4TWdYRVQ4SXBsaFh1TFYvVDA0UT09)

#### Meeting host: @winem

## Meeting Agenda
### StackStorm AWS cost-reduction project ~(5min)
  - See the previous meeting for the issue description and more context: ht

[2022-05-02 07:06] winem commented on #100
Following topics were moved to the next TSC meeting in June:

### Demo: migration to Scalyr monitoring for internal st2cicd infra by @Kami ~(10min)
  - See: https://github.com/StackStorm/st2ci/issues/208
  - Highlight the new system, dashboards, monitors, how to operate it, and use it collectively as @StackStorm/maintainers

### Run st2-self-check in GH Actions ~(5min)
  - current state of the PR

[2022-05-02 17:16] cognifloyd opened #101 "v3.7.0 release tracker"
## Pre-Release PR Reviews
@cognifloyd reviewed all PRs across all st2 repos involved in the release and merged everything I could. I moved others from the 3.7 project+milestone to 3.8.

## st2chatops release prep

We needed to get https://github.com/StackStorm/hubot-stackstorm/pull/214 included in st2chatops which involved release hubot-stackstorm.

@cognifloyd released hubot-stackstorm v0.12.0:
-

[2022-05-02 17:27] cognifloyd commented on #101
Notes from Testing Before Release:

## bionic

bash installer in vagrant box:
- :exclamation: installing crudini also installs python2.7
- configured repo
- ```
    st2bionic: 20220502T165935+0000 ##########################################################
    st2bionic: 20220502T165935+0000 #### Following versions of packages will be installed ####
    st2bionic: 20220502T165935+0000 st2=3.7dev-54

[2022-05-02 23:49] nzlosh commented on #101
# CentOS7

`st2-self-check` failed on the enquiry chain test.  The response schema expects a string, but an integer is given.

[code]

*Update:*  This issue appeared when using the vagrant repo install script https://raw.githubusercontent.com/StackStorm/st2vagrant/master/scripts/install_st2.sh.  When using the officially documented install script https://stackstorm.com/packages/install.sh this iss

[2022-05-03 16:11] amanda11 commented on #101
@cognifloyd Re web testing:

- typing anything in magnifying glass / search field does not do anything (no filtering of results).
Amanda: Is it the problem reported here: https://github.com/StackStorm/st2web/issues/925? (follow comments and I found the pull-down filters were ok, but not the edit search bit).
- for actions and rules env arg does not accept key1=val1,key2=val2 format anymore. It has

[2022-05-03 16:48] cognifloyd commented on #101
Amanda: Is it the problem reported here: https://github.com/StackStorm/st2web/issues/925? (follow comments and I found the pull-down filters were ok, but not the edit search bit).

Yes, that's it. And I get the same behavior in installs of 3.4.1 and 3.6.0 so this is an old bug.

-----

these two are interrelated:

Amanda: Do you mean when you create a new action in workflow composer? And is this s

[2022-05-05 19:51] winem commented on #100
Meeting notes:

Attendees:
@armab @amanda11 @cognifloyd @rush-skills  @winem @nzlosh

### Migrating AWS parent org to Encore ~(10m)
- We'll coordinate this async to the TSC meetings
  - The credit card on the root account needs to be changed before the account will be transfered to Encore
- Given that the AWS credits expire in a few months it was discussed whether AWS is the right cloud provider f

[2022-05-06 02:48] cognifloyd commented on #101
Dangit. We have a blocker for RockyLinux 8
[code]
It's building virtualenvs with the wrong python. That means that the dependencies in `/opt/stackstorm/st2` cannot be inherited by `/opt/stackstorm/virtualenvs/*` which cause a `ModeuleNotFoundError: No module named 'orjson'`

I'm going to try to duplicate this in the st2vagrant box.

_edit: added results_

Nope. `st2vagrant` had the correct version

[2022-05-06 03:40] cognifloyd commented on #101
Basically, this workflow does not follow the migration guide for RockyLinux8:
https://github.com/StackStorm/st2ci/blob/master/actions/workflows/st2_pkg_upgrade_e2e_test.yaml
https://docs.stackstorm.com/3.7/install/upgrades.html#version-specific-changes-migration-scripts

It does not run:
[code]

Hmm. And the migration guide is wrong, it shows: `--register-setup-recreate-virtualenvs` instead of `--

[2022-05-06 08:34] arm4b commented on #101
That's a good catch before shipping it to prod! :+1:

[2022-05-09 08:58] amanda11 commented on #101
Possibly should have had the st2ctl command in:
"st2ci/actions/st2_pkg_upgrade_deps_el8.sh"

Those files are to do version specific things on upgrade. Though I guess we'll never run it again to do an upgrade...

[2022-05-13 17:06] cognifloyd commented on #101
OK. Release announcement blog has been published: https://stackstorm.com/2022/05/10/stackstorm-3-7-0-released/

The only thing we didn't do was fix the packer-st2 build (see https://github.com/StackStorm/community/issues/101#tagged-releases). I'm closing this as complete.

[2022-05-13 17:06] #101 closed, assigned to cognifloyd

[2022-05-19 22:29] cognifloyd commented on #63
Progress report on bootstrapping packs via GHA:
- https://github.com/StackStorm-Exchange/ci/pull/133
- On github, I just removed all of the stackstorm-neptr PATs that we used in CircleCI. I did not clean anything up in CircleCI itself.
- I created a new PAT (just one! :smile: ) under stackstorm-neptr for use in the bootstrap workflow
- I created the required secrets in the incubator repo settings.

[2022-06-01 16:46] arm4b opened #102 "TSC Meeting (07 Jun 2022): Exchange "!bootstrap pack" demo, AWS disaster plan, v3.7.0 retrospective, v3.8.0 planning"
June 2022 @StackStorm/tsc `1 hour` planned meeting: Tuesday, `07 Jun 2022, 09:30 AM US Pacific`.

See #33 for more info on how to join.
(TLDR; Zoom link: https://us02web.zoom.us/j/81082101702?pwd=N1V4TWdYRVQ4SXBsaFh1TFYvVDA0UT09)

#### Meeting host: @armab

## Meeting Agenda

### Demo: StackStorm-Exchange `!bootstrap pack` DEMO (@cognifloyd)
  - More info about the project: https://github.com/Stac

[2022-06-07 21:50] arm4b commented on #102
## Attendees
@cognifloyd @mickmcgrath13 @amanda11 @rush-skills @winem @armab @nzlosh @bishopbm1, Dale Smith @ Orchestral

## Meeting Minutes

### AWS account migration follow-up
- Good news: @bishopbm1 already had a chat with @punkrokk about AWS account migration. The ownership transfer is going by plan and hopefully will be completed before the next TSC meeting (July).

### AWS cost reduction pro

[2022-06-08 21:01] #88 closed, assigned to nobody

[2022-06-10 17:09] amanda11 opened #103 "Python support in future versions"
Starting an issue to discuss where to go next with Python versions and StackStorm, and how to distribute.

Current StackStorm distributes O/S specific packages with a specific StackStorm version. Currently:

- python 3.6 Ubuntu 18
- python 3.8 Ubuntu 20
- python 3.6 EL 7
- python 3.8 EL 8

Python 3.9 and Python 3.10 are available. Python 3.6 has gone EOL (however RHEL are supporting it until 2029)

[2022-06-10 17:11] amanda11 commented on #103
Popping in some notes from Slack...

Just to throw another spanner into the python release discussions. RH 8 only supports python 3.8 until May 2023. Up to 2024 for python 3.9 and 2029 for python 3.6 - https://access.redhat.com/support/policy/updates/rhel-app-streams-life-cycle#rhel8_application_streams. RH 9 I believe have python 3.9.

So our upgrade from python 3.6->3.8 on RH, meant we moved to

[2022-06-14 08:22] amanda11 commented on #103
I think Ubuntu 22.04 is shipped with python 3.10, so that is another one to add to the mix!

[2022-06-14 08:31] nzlosh commented on #103
Here's a matrix of currently supported versions of Python on various distributions above and beyond the currently set we support.

||<center>python3.6</center>|<center>python3.7</center>|<center>python3.8</center>|<center>python3.9</center>|<center>python3.10</center>|
| -- | -- | -- | -- | -- | -- |
|<center>ubuntu<br>18.04</center>|<center>X</center>|<center>X</center>||||
|<center>ubuntu<br>20.

[2022-06-14 08:33] nzlosh commented on #103
If we are going to add Python 3.9, my gut feeling is the effort required to add 3.7 and 3.10 would be minimal (at least worth investigating the difficulty).

[2022-06-14 08:41] amanda11 commented on #103
@nzlosh  Can we add python 3.9 and Centos 9 to your matrix?
We also do have 3.8 on Centos 8 - its just only until mid 2023.

My gut also is that 3.9 and 3.10 need adding. I'm just wondering if 3.7 is worth it. More on the basis of 3rd party libraries we pull in, as we'll be restricted to 3.7+ libraries... However, I'm not sure that really is an issue for us - as  most of the newer 3rd party versio

[2022-06-14 09:04] nzlosh commented on #103
Added CentOS 9 to matrix.

You're right, Python 3.7 may not be worth adding since it's going to be EOL in a years time.
|Release|Released|Security Support|Latest|
| -- | -- | -- | -- |
|3.1|8 months ago (04 Oct 2021) |Ends in 4 years (04 Oct 2026) |3.10.5 |
|3.9|1 year and 8 months ago (05 Oct 2020) |Ends in 3 years (05 Oct 2025) |3.9.13|
|3.8|2 years and 8 months ago (14 Oct 2019) |Ends in 2 year

[2022-06-14 09:05] amanda11 commented on #103
I was more thinking we want to support at least 2, rather than limiting to just 2! So if we dropped 3.6 now, we'd be limiting us to just only support one EL and one Ubuntu stream (if we don't support anything other than python 3.8)
And I agree I think we are already hitting problems with the python 3.6 on some dependencies...

[2022-06-14 09:18] nzlosh commented on #103
If we drop 3.6 and add 3.9 now we'll get functionality on 5 Linux distributions.  But we won't have OS packaging available for all those distributions.  That could be added with time.  The other question to be answered would be if these OS' have the correct versions packaged for our external services (mongo rabbitmq and redis).  Or do we consider them to be outside the scope of StackStorm and it's

[2022-06-14 09:20] amanda11 commented on #103
Downside, only one Ubuntu version...

[2022-06-14 09:27] amanda11 commented on #103
Related - perhaps we should also update the st2client binary distribution - its python2.7 - https://pypi.org/project/st2client/#files

[2022-06-16 10:30] nzlosh commented on #103
If Python 3.7 turns out to be straight forward to integration with 3.9 and 3.10 support, it would mean we can continue to support U1804 without keeping py3.6 support.

[Poetry](https://python-poetry.org/docs/master/dependency-specification/) could be a good tool to help manage StackStorm dependencies. They way you can express module dependency versions in relation to python version would invaluabl

[2022-06-22 01:45] cognifloyd commented on #103
For building wheels: I have a working / mostly-complete setup that can churn out wheels in my pants experiment. And I'd like some feedback.

Test procedure:
- Clone and checkout the `pants` branch of the st2sandbox/st2 repo.
  https://github.com/st2sandbox/st2/tree/pants/
- In the root of your checkout, run these (:: means everything. you can replace it with a path to a file or directory):
  - `./

[2022-06-22 01:47] cognifloyd commented on #103
Re poetry: I've played with poetry, but it doesn't work very well with monorepos (multiple python packages in the repo). So, I didn't have much luck getting poetry into the StackStorm repo.

[2022-06-22 01:53] cognifloyd commented on #103
I would like to see us publish the wheels to pypi (for a variety of reasons, including easier pack dev environment setup). We can then use those wheels when we build the deb/rpm files to maintain all the current infrastructure as is, at least in the short/mid term.
Long term dropping deb/rpm support is a possibility, but I think publishing the wheels will go a long way towards allowing people to t

[2022-06-22 15:47] cognifloyd commented on #103
Here is a CI run where pants is handling all of the lint tasks: https://github.com/st2sandbox/st2/actions/runs/2543590121

https://github.com/st2sandbox/st2/actions/workflows/lint.yaml
linting with an empty pants cache: 6 min 34 sec
with a populated pants cache: 2 min 16 sec

[2022-06-28 10:37] amanda11 opened #104 "st2CICD Reducing costs"
Our current AWS CICD server costs approximately $122.4 plus tax to run a month just on EC2 costs (other costs such as EBS not included). This is a c5.xlarge server running 24x7 (cost above based on 30 day month).

The actual CI/CD runs currently are:
- unstable Tuesday 3pm UTC - for approx 40 mins
- stable Wednesday 1pm UTC - for approx 40 mins
- unstable Friday 3pm UTC - for approx 40 mins
Each d

[2022-06-28 10:43] amanda11 commented on #104
One possible reduction which would amount to reducing pre-tax EC2 CI/CD server to $81 or $74 would be following:

- Switch off the CI/CD server from Friday 4pm UTC to Monday 4am UTC
- Move the CI runs so that Unstable runs Monday + Thursday, Keep Stable on Wednesday. This means we still have the 2am runs the following days to delete servers, and servers are up for most of week to enable troublesho

[2022-06-28 14:23] winem commented on #104
A solution that is a bit less flexible compared to the AWS Instance Scheduler is to use Scheduled scaling for EC2 Auto Scaling: https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-scheduled-scaling.html

It allows you to configure any ASG capacity (min, max and desired) to be applied at any time with a cron-like syntax.

Let me just share a screenshot to show the capabilities:
!

[2022-06-28 14:57] amanda11 commented on #104
@winem Doesn't the above terminate rather than just shutdown the instance? https://docs.aws.amazon.com/autoscaling/ec2/userguide/auto-scaling-groups.html - "and launches or terminates the instances as needed".
I think in our case we just want to start/stop it rather than create and terminate.

[2022-06-29 13:29] arm4b commented on #104
I think it's a great idea with the lambda function to start/stop the instance on a schedule :+1:

[2022-07-06 19:21] rush-skills opened #105 "TSC Meeting (12 Jul 2022): pants, Puppet-ST2 metrics, CI/CD and AWS discussions, v3.8 release planning"
July 2022 @StackStorm/tsc `1 hour` planned meeting: Tuesday, `12 July 2022, 09:30 AM US Pacific`.

See #33 for more info on how to join.
(TLDR; Zoom link: https://us02web.zoom.us/j/81082101702?pwd=N1V4TWdYRVQ4SXBsaFh1TFYvVDA0UT09)

#### Meeting host: @rush-skills

## Meeting Agenda

### Demo: `pants`, a dependency management, test/lint and packaging framework (@cognifloyd)

### Demo: Puppet-st2 ba

[2022-07-06 19:22] rush-skills commented on #105
Let me know if anything else needs to be added

[2022-07-12 17:41] amanda11 commented on #104
Agreed in TSC meeting for go-ahead to start/stop via lambda and keep CI server up for just a few days a week.

[2022-07-13 00:34] cognifloyd opened #106 "RFC: Let's close all the TSC Meeting agendas/notes (eventually)"
Active discussions and RFC's are difficult to find in the issue list here.

I think we could do something like this.
- Meeting occurs following a previously posted agenda
- After the meeting:
  - post the meeting notes as a reply to the meeting agenda
  - in another comment, draft next month's meeting agenda (esp to list anything that needs follow-up in the next meeting)
  - close the previous mon

[2022-07-13 10:10] rush-skills commented on #106
+1, I too was getting lost in the community issues between all the open TSC meetings.

[2022-07-13 12:42] arm4b commented on #106
Sure, I'm good with the idea of closing the old TSC Meeting issues if that's an inconvenience to other folks. For me, it's just a forum that's there for informational purposes ordered by the history and not a list of closed/open tasks.

The Meeting preparation process is documented in https://github.com/StackStorm/community/issues/33
+1 good idea to track the follow-ups, deliverables, and expectat

[2022-07-13 14:31] rush-skills commented on #105
### Attendees

@amanda11 @armab @arms11 @bishopbm @cognifloyd @rk4n3 @rush-skills Benjy@pantsbuild

## Meeting Minutes

### Demo: `pants`, a dependency management, test/lint and packaging framework (@cognifloyd)
- @cognifloyd demo'ed `pants` as a replacement for Makefile based build system, as well for running testing and linting, and then also for building python wheels for packaging against spec

[2022-07-14 09:11] amanda11 commented on #106
I'm happy with this.

[2022-07-19 11:19] amanda11 commented on #104
Schedule of new builds (times based on US/Pacific):

Tues @ 18:00 Orphan run (cicd repo)
Wed @ 6:00 Stable run (cd repo - no change)
Wed @ 8:00 Unstable run (ci repo)
Wed @ 18:00 Orphan run (cicd repo)
Thur @ 8:00 Unstable run (ci repo)
Thur @ 18:00 Orphan run (cicd repo)

Schedule  AWS Lambda control the st2cicd EC2 instance with:

Start Tues@16:00
Stop Thurs@20:00
Therefore reducing to 52 hrs a

[2022-07-21 08:42] amanda11 commented on #104
Lambda functions and rules setup. Monitoring changed to just Weds. Awaiting stop on Friday 4am UTC, and start at Tues midnight UTC.

[2022-07-24 15:45] arm4b commented on #76
The website + blog is now exported to a temporary https://stackstorm.xyz/ as raw HTML.
The HTML is available in the git branch: https://github.com/StackStorm/stackstorm.com/tree/website-html

I've made the last WP + DB dump backup to AWS S3 if we'll need it sometime in the future.

I couldn't find any issues so far or missing pages with a new version.
I plan to shut down the WP hosting next week a

[2022-07-27 10:41] arm4b commented on #76
FYI stackstorm.com traffic switch from the old hosting to https://github.com/StackStorm/stackstorm.com/ GH Static pages (raw HTML for now) is completed.

[2022-07-28 15:05] amanda11 commented on #103
udatetime doesn't build on python 3.9. See https://github.com/StackStorm/st2/issues/5346 where it was discussed moving to an alternative https://github.com/closeio/ciso8601

[2022-08-01 11:23] arm4b commented on #76
Tasks for managing and improving stackstorm.com via new GH Pages were created in the https://github.com/StackStorm/stackstorm.com/issues. There are really good first issues for someone willing to contribute, one PR per change.

From the list, creating Hugo template for stackstorm would be the most complex work.

[2022-08-02 15:53] cognifloyd opened #107 "TSC Meeting (02 Aug 2022)"
August 2022 @StackStorm/tsc `1 hour` planned meeting: Tuesday, `02 August 2022, 09:30 AM US Pacific`.

See #33 for more info on how to join.
(TLDR; Zoom link: https://us02web.zoom.us/j/81082101702?pwd=N1V4TWdYRVQ4SXBsaFh1TFYvVDA0UT09)

#### Meeting host: @cognifloyd

## Meeting Agenda

_This was thrown together at the last minute - it is subject to change during the meeting._

### Thanks to @nmalu

[2022-08-02 16:43] cognifloyd commented on #4
Assign the meeting host for the next meeting in the current meeting.

[2022-08-02 18:06] cognifloyd commented on #107
Attendees
@amanda11 @armab @cognifloyd @dalesmith @mickmcgrath13 @rush-skills

## Meeting Notes

### Thanks to @nmaludy
- @armab  to cleanup formatting, approve, and merge: https://github.com/StackStorm/st2/pull/5588

### v3.8 release discussions

Postponed till next time

### Meeting Rotation

- Running meetings is a "Free-for-all"
- During each meeting, we need to assign the meeting host for the

[2022-08-02 18:08] #55 closed, assigned to nobody

[2022-08-02 18:08] #57 closed, assigned to nobody

[2022-08-02 18:08] #60 closed, assigned to nobody

[2022-08-02 18:08] #62 closed, assigned to nobody

[2022-08-02 18:08] #67 closed, assigned to nobody

[2022-08-02 18:08] #71 closed, assigned to nobody

[2022-08-02 18:08] #78 closed, assigned to nobody

[2022-08-02 18:08] #79 closed, assigned to nobody

[2022-08-02 18:08] #83 closed, assigned to nobody

[2022-08-02 18:08] #85 closed, assigned to nobody

[2022-08-02 18:08] #87 closed, assigned to nobody

[2022-08-02 18:08] #90 closed, assigned to nobody

[2022-08-02 18:08] #92 closed, assigned to Kami, mickmcgrath13, punkrokk, winem, cognifloyd, nzlosh, m4dcoder, nmaludy, guzzijones, amanda11

[2022-08-02 18:08] #95 closed, assigned to Kami, mickmcgrath13, punkrokk, winem, cognifloyd, nzlosh, m4dcoder, nmaludy, guzzijones, amanda11

[2022-08-02 18:08] #96 closed, assigned to nobody

[2022-08-02 18:08] #97 closed, assigned to nobody

[2022-08-02 18:08] #98 closed, assigned to nobody

[2022-08-02 18:08] #99 closed, assigned to cognifloyd

[2022-08-02 18:08] #100 closed, assigned to winem

[2022-08-02 18:08] #102 closed, assigned to nobody

[2022-08-02 18:08] #1 closed

[2022-08-02 18:08] #3 closed

[2022-08-02 18:08] #5 closed

[2022-08-02 18:08] #10 closed

[2022-08-02 18:08] #31 closed

[2022-08-02 18:08] #41 closed, assigned to nobody

[2022-08-02 18:08] #42 closed, assigned to nobody

[2022-08-02 18:08] #47 closed, assigned to nobody

[2022-08-02 18:08] #50 closed, assigned to nobody

[2022-08-02 22:49] cognifloyd opened #108 "TSC Meeting (06 Sept 2022)"
September 2022 @StackStorm/tsc `1 hour` planned meeting: Tuesday, `06 September 2022, 09:30 AM US Pacific`.

See #33 for more info on how to join.
(TLDR; Zoom link: https://us02web.zoom.us/j/81082101702?pwd=N1V4TWdYRVQ4SXBsaFh1TFYvVDA0UT09)

#### Meeting host: @cognifloyd

## Meeting Agenda

### Choose meeting host the next meeting (4 Oct 2022)

### TSC meeting host rotation - @armab

https://gith

[2022-08-02 23:17] #74 closed, assigned to nobody

[2022-08-02 23:19] #53 closed, assigned to nobody

[2022-08-02 23:19] arm4b commented on #106
Closing as resolved, per https://github.com/StackStorm/community/issues/107 discussion we'll keep open only the active Issues.

[2022-08-02 23:19] #106 closed, assigned to nobody

[2022-08-02 23:20] #40 closed, assigned to nobody

[2022-08-02 23:26] #34 closed

[2022-08-02 23:26] #32 closed

[2022-08-02 23:27] #89 closed, assigned to nobody

[2022-08-02 23:27] #22 closed

[2022-08-02 23:41] #7 closed

[2022-08-10 18:25] esarakaitis commented on #56
any teams users want to share their integration how-to?

[2022-08-12 10:43] rush-skills commented on #105
Future meetings: https://github.com/StackStorm/community/issues/107
https://github.com/StackStorm/community/issues/108

Closing the discussion for this TSC Meeting.

[2022-08-12 10:43] #105 closed, assigned to rush-skills

[2022-08-22 14:13] chain312 opened #109 "No application package is displayed in packs"

[2022-08-22 14:26] #109 closed, assigned to nobody

[2022-09-05 16:58] arm4b commented on #108
@cognifloyd Could we include [ [RFC] TSC Governance Proposal: Document the TSC Meetings host rotation #5711](https://github.com/StackStorm/st2/pull/5711) to the meeting agenda?

[2022-09-06 19:20] cognifloyd commented on #108
Attendees
@amanda11 @armab @bishopbm1 @cognifloyd @rush-skills

## Meeting Notes

### Choose meeting host the next meeting (4 Oct 2022)

@bishopbm1 Bradley Bishop will be the next meeting host

For future meetings we will choose the next host asynchronously so that we can get more TSC members involved.

### TSC RFC/RFRs

We need more reviews on
- https://github.com/StackStorm/st2/pull/5719
- https

[2022-09-06 19:20] #107 closed, assigned to cognifloyd

[2022-09-28 15:57] nzlosh opened #110 "v3.8.0 release tracker"
# Pre-Release PR Reviews

`@nzlosh` has reviewed all issues in the [v3.8 kanban board](https://github.com/orgs/StackStorm/projects/29).

The following packages have been selected as release candidates for v3.8
- st2chatops package build `st2chatops-3.8dev-4`.
- st2web package build ``st2web-3.8dev-5``.
- st2 package build ``st2-3.8-46``.

## Pre-release testing

 - **ubuntu 18.04 (bionic)**
   - [

[2022-09-30 04:13] bishopbm1 opened #111 "TSC Meeting (4 Oct 2022) - v3.8.0 Release Preparation"
October 2022 @StackStorm/tsc `1 hour` planned meeting: Tuesday, `4 October 2022, 09:30 AM US Pacific`.

See #33 for more info on how to join.
(TLDR; Zoom link: https://us02web.zoom.us/j/81082101702?pwd=N1V4TWdYRVQ4SXBsaFh1TFYvVDA0UT09)

#### Meeting host: @bishopbm1

## Meeting Agenda

### Choose meeting host the next meeting (1 Nov 2022)

### TSC meeting host rotation - @armab

https://github.com

[2022-10-04 12:56] mickmcgrath13 commented on #111
Should this be "TSC Meeting (4 Oct 2022)" not "TSC Meeting (14 Oct 2022)"?

[2022-10-04 12:58] mickmcgrath13 commented on #111
We also have a quick update on some st2web PRs:
- https://github.com/StackStorm/st2web/pull/963
- https://github.com/StackStorm/st2web/pull/964
- https://github.com/StackStorm/st2web/pull/965

[2022-10-17 05:26] bishopbm1 commented on #111
Meeting Minutes:
Bradley Shared security page with team as a start of security standards letting people comment on it.

We discussed Versioning and changelog around st2web/st2chatops.

@cognifloyd is moving on to linting sections of pants build out.

Security concerns were discussed and members were assigned to continue to track down fixes.

Request for review on above noted PRs.

Attendees:
@bish

[2022-11-01 14:17] garadar opened #112 "sensor cleanup function"
## context
[code]

## Issue
_Sensor_
I'm using a flask server to listen my events and when I turn off st2 or disable the sensor, the function cleanup is never called.

The cleanup function is called when there is an issue with stackstorm main entity.

Do you have an idea ?

[2022-11-07 13:49] arm4b commented on #110
For someone willing to help with the pre-release testing, use this to install the latest `3.8dev` branch on a new VM:
[code]

Try out features and changes that landed in this version (the first message ^^) for any regressions or issues.
Please let us know how it goes.

[2022-11-07 16:08] amanda11 commented on #110
@nzlosh Performed some upgrade testing on Rocky8 from 3.7->3.8. New 3.7 installation with a few pack installs, aliases, and slack st2chatops connectivity. Upgrade went through successfully. After upgrade did some st2web testing on 3.8 on EL8 and all good.

[2022-11-10 16:00] amanda11 commented on #110
@nzlosh Performed some upgrade testing on Centos7 from 3.7->3.8. Prior to upgrade had a workflow that had the old style output schema with a secret. After upgrade (without changing the schema), checked that running workflow that the secret was still masked - and it was, but other validation didn't work (as expected as still using old style schema). Updated pack to use new style schema - and valida

[2022-11-17 21:19] cognifloyd commented on #110
We can drop "Removed skills-validator for hubot." from the list of major features.

We have to remove that every time we regenerate npm-shrinkwrap.json. I don't know why npm keeps adding it, but it breaks CI.

https://github.com/StackStorm/st2chatops/commits/master/npm-shrinkwrap.json

[2022-11-17 22:33] nzlosh commented on #110
Sure, it was questioned earlier today too.

[2022-11-18 19:43] arm4b commented on #110
FYI the packages were promoted by the Release Team (@nzlosh @rush-skills) from `staging-unstable` -> `staging-stable`. If someone willing to take a final check before the packages will go to production, here is the one-line install:
[code]

[2022-11-24 17:11] amanda11 opened #114 "TSC Meeting (6 December 2022)"
December 2022 @StackStorm/tsc `1 hour` planned meeting: Tuesday, `4 October 2022, 09:30 AM US Pacific`.
- Tuesday, 06 December 2022, 09:30 AM US Pacific.
- Meeting host: @amanda11
- See https://github.com/StackStorm/community/issues/33 for more info on how to join.
(TLDR; Zoom link: https://us02web.zoom.us/j/81082101702?pwd=N1V4TWdYRVQ4SXBsaFh1TFYvVDA0UT09)

## Meeting Agenda

### TSC Meetings
 -